.carousel-container {
    text-align: center;
    width: 600px;
    margin-top:30px;
    margin-left:50px;
}

.carousel {
    border-radius: 10%;
    background-color: white;
    margin-right: 20px;
    border: 2px solid #d3d3d3;
    width: 188px;
    margin-bottom: 40px;
}

.carousel-slide {
    display: inline-block;
    margin: 0 20px;
    text-align: center;
    transition: transform 0.5s ease; /* Adjust the duration and easing function as needed */

}

.carousel-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc; /* Replace with your image */
}

.carousel-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.join-button {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color:#e84949;
    border: 3px solid transparent;
    border-radius: 15px;
    box-shadow: 5px 5px 7px 0 #0000003f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
